@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

.wrapper {
  max-width: 1150px;
  /* min-width: 890px; */
  width: 100%;
  position: relative;
  margin: 0 auto;
        
}
#left,
#right {
  top: 50%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  font-size: 1.25rem;
  position: absolute;
  text-align: center;
  line-height: 50px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.23);
  transform: translateY(-50%);
  transition: transform 0.1s linear;
  z-index: 10;
}
#left {
  left: -30px;
}
#right {
  right: -22px;
}
.wrapper .carousel {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: calc((100% / 3) - 0px);
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  gap: 16px;
  border-radius: 8px;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-bottom: 10px !important;
}
.carousel::-webkit-scrollbar {
  display: none;
}
.carousel .event-block {
  scroll-snap-align: start;
  padding: 16px;
  background: #fff;
  border-radius: 8px;
  padding-bottom: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.events-date {
  text-align: center;
  margin-bottom: 10px;
}
.events-date .font-size28 {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  font-weight: bold;
  gap: 10px;
}
.dateTime {
  height: 55px;
  width: 55px;
  margin-bottom: 5px;
  border-radius: 10px;
  background-color: #8b53ff;
  text-align: center;
}
.events-date .font-size14 {
  font-size: 14px;
}
.event-block h5 {
  font-size: 1.2rem;
  margin-bottom: 8px;
}
.event-time {
  list-style: none;
  margin-bottom: 8px;
}
.event-time li {
  display: flex;
  align-items: center;
  margin-bottom: 4px;
}
.event-time li i {
  margin-right: 10px;
}
.event-block p {
  font-size: 0.9rem;
  margin-bottom: 12px;
}
.check {
  padding: 8px 16px;
  background-color: orange;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}
li .event-block::marker{
display: none !important;
}
@media screen and (max-width: 900px) {
  .wrapper .carousel {
    grid-auto-columns: calc((100% / 2) - 9px);
  }
}
@media screen and (max-width: 600px) {
  .wrapper .carousel {
    grid-auto-columns: 100%;
  }
}
