/* body {
    margin: 0;
    padding: 0;
    background-color: #000;
    color: #fff;
    font-family: Arial, sans-serif;
  } */
  .video-conference{
    position: relative;
  }
  .video-conference .video-window {
    background-color: #222;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }

  .video-conference .participant video {
    width: 100%;
    height: 450px;
    max-height: 90%;
    background-color: #1b1a1a;
    border-radius: 8px;
    
  }

  .participant-name {
    position: absolute;
    top: 120px;
    left: 10px;
    background: rgba(0, 0, 0, 0.7);
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 1rem;
  }

  .control-bar {
    position: absolute;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #222;
    padding: 10px 0;
    border-top: 2px solid #444;
    left: 0px;
  }